<h2>Chats</h2>

<ul class="list-group ">
		
	@foreach(var user in Users)
	{
	<li class="list-group-item d-flex justify-content-between align-items-start" @onclick="()=>HandleClickUser(user)">
    <div class="ms-2 me-auto">
	<div class="fw-bold">@user.Name</div>
      Content for list item
    </div>
    <span class="badge text-bg-primary rounded-pill">14</span>
  </li>
	}
  </ul>
@code {
	[Parameter]
	public IEnumerable<UserModelHub> Users { get; set; } = Enumerable.Empty<UserModelHub>();
	[Parameter]
	public EventCallback<UserModelHub> OnUserSelected { get; set; }
	private async Task HandleClickUser(UserModelHub user)
	{
		await OnUserSelected.InvokeAsync(user);
	}
}
