@import "tailwindcss";
@tailwind utilities;
.btn{
  @apply bg-[#191919] text-[14px] py-2 px-4 font-medium text-white  rounded-full cursor-pointer transition-all duration-200;
}
.btn:active{
    @apply scale-105;
}
.link{
  @apply cursor-pointer w-[50px] h-[50px] rounded-[50%] transition-all duration-200 flex justify-center items-center hover:bg-gray-300;
}
.person{
  @apply cursor-pointer  hover:bg-gray-300 transition-all duration-200 rounded-[10px];
}
.messages::-webkit-scrollbar {
  display: none;
}